<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yournextflight">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Contact"></activity>
        <activity android:name=".CustomerFlightDetails" />
        <activity android:name=".MyFlights" />
        <activity android:name=".CustomerOrders" />
        <activity android:name=".CustomerResultSearching" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CustomerLastChance" />
        <activity android:name=".CustomerMyFlights" />
        <activity android:name=".search" />
        <activity android:name=".AllFlights" />
        <activity android:name=".CustomerMain" />
        <activity android:name=".CustomerDetails" />
        <activity android:name=".AddFlight" />
        <activity android:name=".SignUp" />
        <activity android:name=".CustomerLogin" />
        <activity android:name=".ManagerLogin" />
        <activity android:name=".Manager_second_Activity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>